{% extends "base.html" %}

{% block content %}
		<h1>
			Sign Up
		</h1>
		<form action="/verify" method="post">
			<table>
				<tbody>
					<tr>
						<td>
		        			<label for="username">Username</label>
						</td>
						<td>
					        <input type="text" name="username" value="{{username}}" />
					        <span class="error">{{username_error}}</span>
						</td>
					</tr>
					<tr>
						<td>
		        			<label for="password">Password</label>
						</td>
						<td>
					        <input name="password" type="password"/>
					         <span class="error">{{password_error}}</span>
						</td>
					</tr>
					<tr>
						<td>
		        			<label for="verify-password">Verify-password</label>
						</td>
						<td>
					        <input name="verify-password" type="password"/>		
					        <span class="error">{{verify_password_error}}</span>
						</td>
					</tr>
						<tr>
						<td>
		        			<label for="email">Email (optional)</label>
						</td>
						<td>
					        <input type="text" name="email" value="{{email}}" />
					        <span class="error">{{email_error}}</span>
						</td>
					</tr>
				</tbody>
			</table>
<!--
		    <label>
		        Username
		        <input type="text" name="username"/>
		    </label>
		    <label>
		        Password
		        <input type="text" name="password"/>
		    </label>
   		    <label>
		        Verify Password
		        <input type="text" name="verify-password"/>
		    </label>
		    <label>
		        Email (optional)
		        <input type="text" name="email"/>
		    </label> -->
		    <input type="submit" value="Submit"/>
		</form>

{% endblock %}
